@use "@/styles/_color.scss" as *;
@use "@/styles/_typography.scss" as *;
@use "@/styles/_shadow.scss" as *;
@use "@/styles/_media.scss" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.overlay {
  width: 612px;
  border-radius: 24px;
  background-color: $gray-10;
  box-shadow: $shadow-2;
  padding: 40px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;

  @include mobile {
    padding: 24px;
    width: calc(100% - 24px);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header-left-wrapper {
  display: flex;
  column-gap: 8px;
}

.header-question {
  @include heading-3;
  color: $gray-60;

  @include mobile {
    @include body-1;
  }
}

.close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-icon {
  display: block;

  @include mobile {
    width: 24px;
    height: 24px;
  }
}

.title-wrapper {
  display: flex;
  column-gap: 4px;
  align-items: center;
  margin-bottom: 12px;
}

.to {
  @include body-2;
  color: $gray-60;
}

.title-img {
  border-radius: 50%;
  object-fit: cover;
}

.nickname {
  @include body-3;
  color: $gray-60;
}

.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
