@use "@/styles/_color.scss" as *;
@use "@/styles/_typography.scss" as *;
@use "@/styles/_shadow.scss" as *;
@use "@/styles/_media.scss" as *;

.feed-detail-page {
  padding-bottom: 24px;

  @include tablet {
    margin: 0 32px;
  }

  @include mobile {
    margin: 0 24px;
  }
}

.floating-button {
  margin-top: 58px;
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;

  @include mobile-tablet {
    padding-right: 0;
  }
}
